# Copyright (c) 2025, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "preflight.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "preflight.labels" . | nindent 4 }}
data:
  config.yaml: |
    gpuResourceNames:
      {{- toYaml .Values.gpuResourceNames | nindent 6 }}
    networkResourceNames:
      {{- toYaml .Values.networkResourceNames | nindent 6 }}
    {{- if .Values.ncclEnvPatterns }}
    ncclEnvPatterns:
      {{- toYaml .Values.ncclEnvPatterns | nindent 6 }}
    {{- end }}
    {{- if .Values.volumeMountPatterns }}
    volumeMountPatterns:
      {{- toYaml .Values.volumeMountPatterns | nindent 6 }}
    {{- end }}
    dcgm:
      hostengineAddr: {{ include "preflight.dcgmHostengineAddr" . | quote }}
      diagLevel: {{ include "preflight.dcgmDiagLevel" . }}
      connectorSocket: {{ include "preflight.connectorSocket" . | quote }}
      processingStrategy: {{ include "preflight.processingStrategy" . | quote }}
    gangDiscovery:
      {{- toYaml .Values.gangDiscovery | nindent 6 }}
    gangCoordination:
      enabled: {{ .Values.gangCoordination.enabled }}
      timeout: {{ .Values.gangCoordination.timeout | quote }}
      masterPort: {{ .Values.gangCoordination.masterPort }}
      configMapMountPath: {{ .Values.gangCoordination.configMapMountPath | quote }}
      {{- /* Resolve ncclTopoConfigMap: explicit or auto-generated from shape */}}
      {{- $topoConfigMap := .Values.gangCoordination.ncclTopoConfigMap | default "" }}
      {{- if and (not $topoConfigMap) .Values.gangCoordination.ncclTopoShape }}
      {{- $topoConfigMap = printf "%s-nccl-topo" (include "preflight.fullname" .) }}
      {{- end }}
      {{- if $topoConfigMap }}
      ncclTopoConfigMap: {{ $topoConfigMap | quote }}
      {{- end }}
      {{- if .Values.gangCoordination.ncclTopoShape }}
      {{- $topoFile := printf "files/%s-topo.xml" .Values.gangCoordination.ncclTopoShape }}
      {{- $topoContent := .Files.Get $topoFile }}
      {{- if not $topoContent }}
      {{- fail (printf "ncclTopoShape '%s' not found: %s does not exist in chart files/" .Values.gangCoordination.ncclTopoShape $topoFile) }}
      {{- end }}
      ncclTopoData: |
{{ $topoContent | indent 8 }}
      {{- end }}
      {{- if .Values.gangCoordination.extraHostPathMounts }}
      extraHostPathMounts:
      {{- toYaml .Values.gangCoordination.extraHostPathMounts | nindent 8 }}
      {{- end }}
      {{- if .Values.gangCoordination.extraVolumeMounts }}
      extraVolumeMounts:
      {{- toYaml .Values.gangCoordination.extraVolumeMounts | nindent 8 }}
      {{- end }}
      {{- if not (kindIs "invalid" .Values.gangCoordination.mirrorResourceClaims) }}
      mirrorResourceClaims: {{ .Values.gangCoordination.mirrorResourceClaims }}
      {{- end }}
    initContainers:
      {{- $extraEnv := .Values.ncclAllreduceExtraEnv | default list }}
      {{- $result := list }}
      {{- range .Values.initContainers }}
      {{- if and (eq .name "preflight-nccl-allreduce") $extraEnv }}
      {{- $container := deepCopy . }}
      {{- $_ := set $container "env" (concat (.env | default list) $extraEnv) }}
      {{- $result = append $result $container }}
      {{- else }}
      {{- $result = append $result . }}
      {{- end }}
      {{- end }}
      {{- toYaml $result | nindent 6 }}
